body{
   font-family: Helvetica;
    background-color: rgb(217, 217, 217);
}

.clk{
    color:rgb(86, 93, 222);
    display: none;
    font-size: 10px;
}


.ap1:hover + .clk{
    
    
    display: block;
}
.ap{
    text-decoration: none;
    margin-left: 90%;
    font-size: 10px;
    position: absolute;
    
}
.img{
    border-radius: 50%;
    border-style:inset;
    
}

.nome{
    background-color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 07px;
    text-align: center;
    margin: 25px;
    margin-top: -14px ;
    position: absolute;
    color: white;
}
    
.inicial{
    padding-top: 50px;
        
}

.hr1{
    width: 50%;
    position: absolute;
    left: 5px;
    
  }
  

.oculto {
    display: none;
}

.sub{
    background-color: rgb(217, 217, 217);
    width: 94px;
}
.subfor{
    background-color: rgb(217, 217, 217);
    width: 81px;
}
.subcur{
    background-color: rgb(217, 217, 217);
    width: 60px;
}

.bloco {
    display: block;
}
.cont{
    white-space: nowrap;
    margin-left: 70%;
	margin-top: 20%;
    position: absolute;
    
    }
    